:host {
  overflow: scroll;
  min-width: 640px;
  width: 100%;
  background-color: white;
}
section {
  margin-top: 10px;;
}
table {
  border: 1px solid lightgrey;
  width: 980px;
}
#activitiesTable thead{
  width: 100%;
  display: block;
}
#activitiesTable tbody{
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  display: block;
}
.table-caption {
  display: none;
}
.thead-col0-width, .tbody-col0-width  {
  margin: 0;
  min-width: 120px;
  max-width: 120px;
  overflow-wrap: break-word;
  text-align: left;
}
.nom-equipe{
  height: 20px;
  font-weight: 600;
  color: darkred;
  vertical-align: bottom;
}
table th, td {
  font-size: 0.6em;
  color:black;
}
.div-spaceRow-col0{
  margin: 0;
  min-width: 120px;
  max-width: 120px;  
}
.div-spaceRow-days{
  margin: 0;
  width: 18px;
}
select, option{
  width: 8.5px;
  padding: 0;
  font-size: 0.8em;
}
select{
  border-spacing: 0px;
  border-style: none;
  height: 14px;
  appearance: menulist;
  box-sizing: border-box;
  background-color:transparent;
  cursor: pointer;
}
option{  
  border-style: none;
  color: currentColor;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  zoom: 1.25;
}
.tr-days{
  border-spacing: 1px 0px;
}
.tr-user{
  background-color: blanchedalmond  ;
}
.tr-user-checked{
  background-color:lightslategray  ;
}
.td-days div{
  display: inherit;
  background-color: lightgrey;
  height: 14px;
  width: 8.5px;
}
.td-days-div-closed-days{
  background-color: dimgrey;
  min-width: 8px;
}
.td-check {
  width: 13px;
  text-align: center;
  cursor: pointer;
}
input {
  height: 6px;
  width: 6px;
}
#navMonth {
  display: flex;
  align-items: stretch;
}
.navButtons {
  padding: 2px;
  border: none;
  background: none;
  cursor: pointer;
}
.saveButton {
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding-bottom: 4px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.6em;
}
.navButtons img, .saveButton img {
  height: 13px;
  width: 13px;
  border: none;
  background: none;
}
.askedMonth {
  display: inline-block;
  padding: 2px 4px;
  min-width: 55px;
  vertical-align:text-top;
  text-align: center;
  font-size: 0.7em;
  color: hsl(0, 0%, 50%);
}
#tasksCaption {
  height: auto;
}
#tasksCaption table{
  width: fit-content;
}
#tasksCaption td {
  display: inline-flex;
  border: 0px solid grey;
}
.taskColor {
  height: 10px;
  width: 10px;
}
.taskName {
  margin-left: 5px;
  height: 10px;
  width: 95px;
}
.welcome {margin: 5px 0px;
}