:host {
  overflow: scroll;
  min-width: 640px;
  width: 100%;
  background-color: white;
}
section {
  margin-top: 10px;;
}
table {
  border: 1px solid lightgrey;
  width: 980px;
}
#activitiesTable thead{
  display: block;
}
#activitiesTable thead tr{
  width: 98.3%;
  display: inline-table;
  table-layout: fixed;
}
#activitiesTable tbody{
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  display: block;
  table-layout: fixed;
  word-wrap:break-word;
}
.thead-col0-width, .thead-col0-width  {
  margin: 0;
  width: 130px;
  text-align: left;
}
.nom-equipe{
  height: 20px;
  font-weight: 600;
  color: darkred;
  vertical-align: bottom;
}
table th, td {
  border: 0px solid grey;
  font-size: 0.6em;
  color:black;
}
select, option{
  height: 14px;
  padding: 0;
  font-size: 0.6em;
}
select{  
  appearance: menulist;
  box-sizing: content-box;
  border-style: none;
  background-color:transparent;
  cursor: pointer;
  border-spacing: 0px;
  width: 9px;
}
option{  
  border-style: none;
  min-height: 0.5em;
  width: 10px;
}
.tr-days{
  border-spacing: 1px 0px;
}
.tr-user{
  background-color: blanchedalmond  ;
}
.tr-user-checked{
  background-color:lightslategray  ;
}
.nom-equipe{
  height: 20px;
  font-weight: 600;
  color: darkred;
  vertical-align: bottom;
}
.td-days div{
  display: inherit;
  background-color: lightgrey;
  height: 14px;
  width: 9px;
}
.td-days-div-closed-days{
  background-color: dimgrey;
}
.td-check {
  text-align: center;
}
input {
  height: 6px;
  width: 6px;
}
.navButtons {
  padding: 2px;
  border: none;
  background: none;
  cursor: pointer;
}
.navButtons img {
  height: 1.1em;
}
.askedMonth {
  display: inline-block;
  padding: 2px 4px;
  min-width: 55px;
  vertical-align:text-top;
  text-align: center;
  font-size: 0.7em;
  color: hsl(0, 0%, 50%);
}
#tasksCaption {
  height: auto;
}
#tasksCaption table{
  width: fit-content;
}
#tasksCaption td {
  display: inline-flex;
  border: 0px solid grey;
}
.taskColor {
  height: 10px;
  width: 10px;
}
.taskName {
  margin-left: 5px;
  height: 10px;
  width: 95px;
}