<section name="timeline" id="timeline">
    <img src="assets/images/timeline.png" alt="timelineAnim">
</section>
<section name="monthlyActivityTable" id="monthlyActivityTable">
    <section id="activitiesHeaders">
        <table id="activitiesTableHead">
            <tr>
                <th>titre ligne test</th>
                <td>col 1</td>
                <td>col 2</td>
                <td>col 3</td>
            </tr>
        </table>
    </section>
    <section id="activitiesList">
        <table id="activitiesTableBody">
        </table>
    </section>

</section>
<section name="monthlyActivity" id="">

</section>