<hr>

<a routerLink="/home">
    <img src="../../assets/images/Icon_home_white.svg" alt="Accueil" title="Accueil">
</a>
<a routerLink="/monthlyActivity">
    <img src="../../assets/images/ic_list_white.svg" alt="Activité mensuelle" title="Activité mensuelle">
</a>
<a routerLink=" " hidden>
    <img src="../../assets/images/ic_down_white.svg" alt="Rapports" title="Rapports">
</a>
<a class="logout" (click)="logout()" routerLink="/home">
    <img src="../../assets/images/artmaster_logout_white.svg" alt="Déconnexion" title="Deconnexion">
</a>