<section id="navbar">
    <hr>
    <a routerLink="/home">
        <img src="assets/images/Icon_home_remixofdynamitt.svg" alt="homeIcon" title="Accueil">
    </a>
    <a routerLink=" ">
        <img src="assets/images/ic_order_date_asc_white_24px.svg" alt="homeIcon" title="Saisie">
    </a>
    <a routerLink=" ">
        <img src="assets/images/ic_order_date_white_24px.svg" alt="homeIcon" title="Consultation">
    </a>
    <a routerLink=" ">
        <img src="assets/images/ic_order_date_desc_white_24px.svg" alt="homeIcon" title="Rapports">
    </a>
</section>