hr {
  border-style: none;
  border-top: 5px solid white;
  width: 40px;
  margin: 0;
}
h2 {
  margin: 5px 0;
  font-size: 0.2em !important;
  color: black;
}
img {
  margin: 0.5em auto;
  height: 2em;
}
.logout {
  margin-top: auto;
}