hr {
  border-style: none;
  border-top: 5px solid white;
  width: 40px;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.logout {
  margin-top: auto;
}
img {
  margin: 0.5em auto;
  height: 2em;
}
