<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <h3>Nouvel Utilisateur</h3>
    <div class="form-group">
        <label>Identifiant :</label><br />
        <input type="text" placeholder="Axxxxxx" class="form-control" formControlName="username" required>
        <div class="errors" *ngIf="fc.username.errors && fc.username.touched">
            Identifiant requis, 7 car. (Axxxxxx/Xyyyyyy)
        </div>
    </div>
    <div class="form-group">
        <label>Prénom :</label><br />
        <input type="text" placeholder="pn" class="form-control" formControlName="firstName" required>
        <div class="errors" *ngIf="fc.firstName.errors && fc.firstName.touched">
            Prénom requis, 64 caractères max
        </div>
    </div>
    <div class="form-group">
        <label>Nom :</label><br />
        <input type="text" placeholder="nm" class="form-control" formControlName="lastName" required>
        <div class="errors" *ngIf="fc.lastName.errors && fc.lastName.touched">
            Nom requis, 64 caractères max
        </div>
    </div>
    <div class="form-group">
        <label>Courriel :</label><br />
        <input type="text" placeholder="pn.nm@" class="form-control" formControlName="email" required>
        <div class="errors" *ngIf="fc.email.errors && fc.email.touched">
            Courriel requis, 128 caractères max<br />
            Format xxx@yyy.zz
        </div>
    </div>
    <div class="form-group">
        <label>Service :</label><br />
        <input type="text" placeholder="Abc/Def/Ghi" class="form-control" formControlName="department" required>
        <div class="errors" *ngIf="fc.department.errors && fc.department.touched">
            Service requis, 64 caractères max
        </div>
    </div>
    <button type="submit" class="button" [disabled]="!createUserForm.valid">Valider</button>
</form>