<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <h3>Nouveau Compte</h3>
    <div class="form-group">
        <label>Identifiant:</label><br />
        <input type="text" class="form-control" formControlName="identifiant" required>
    </div>
    <div class="form-group">
        <label>Mot de Passe:</label><br />
        <input type="text" class="form-control" formControlName="motDePasse" required>
    </div>
    <div class="form-group">
        <label>Confirmation du Mot de Passe:</label><br />
        <input type="text" class="form-control" formControlName="confirmeMotDePasse" required>
    </div>
    <button type="submit" class="button" [disabled]="!createForm.valid">Valider</button>
</form>