/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.clickable{
  cursor: pointer;
}
h1 {
  margin-block-start: auto;
  margin-block-end: auto;
}
h3 {
  margin-block-start: auto;
  margin-block-end: 1em;
}
:link,
:visited {
  color: black;
}
form {
  width: 100%;
  min-width: max-content;
  max-width: 500px;
  font-size: 0.9rem;
  border: 0 solid black;
  padding: 1em;
  justify-content: space-between;
}
select {
  padding: 1px 2px;
  width: 170px;
  color: lightgrey;
}
option {
  color: black;
}
::placeholder {
  color: lightgrey;
}
.errors {
  color: crimson;
  font-size: 0.8rem;
}
.form-group {
  margin-bottom: 1rem;
  width: 50%;
}
.forms-group {
  min-width: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
input.form-control, select.form-control {
  margin: 0.25rem 0rem;
}
::-webkit-scrollbar {
  display: none;
}
app-create-userAccount,
app-login-account,
app-monthlyActivity {
  overflow: scroll;
  padding-left: 20px;
}
